In [1]:
import pandas as pd

df1_counts = pd.read_csv("data/label_counts_a.csv", index_col=0) ## with
df2_counts = pd.read_csv("data/label_counts_b.csv", index_col=0) ## without

df1_counts["label % in summarization data "] = df1_counts["count"] / df1_counts["count"].sum() * 100
df2_counts["label % w/out abstracts"] = df2_counts["count"] / df2_counts["count"].sum() * 100

df1_counts = df1_counts.reset_index()  # 把原本的 index 轉成 column
df1_counts = df1_counts.rename(columns={"index": "name"})  # 把新產生的欄位改名為 name

df2_counts = df2_counts.reset_index()  # 把原本的 index 轉成 column
df2_counts = df2_counts.rename(columns={"index": "name"})  # 把新產生的欄位改名為 name

df1_counts = df1_counts.drop(columns=["count"])
df2_counts = df2_counts.drop(columns=["count"])

df1_counts

                                      name  label % in summarization data
0                            autobiography                        0.026765
1                             bibliography                        0.000000
2                                biography                        0.206473
3                     case-control_studies                        2.102969
4                             case_reports                       40.690539
..                                     ...                             ...
56             systematic_reviews_as_topic                        0.024853
57                              twin_study                        0.036324
58                        validation_study                        0.321181
59               veterinary_clinical_trial                        0.061177
60  veterinary_randomized_controlled_trial                        0.032500

[61 rows x 2 columns]

In [2]:
df_rouge = pd.read_csv('data/rouge_scores2.csv')
df_rouge

,labels,rouge-1,rouge-2,rouge-L,bert-P,bert-R,bert-F1
0,case_reports,0.225812,0.053250,0.146505,0.123670,0.163165,0.139183
1,review,0.289952,0.069907,0.173700,0.253205,0.244593,0.247277
2,comment,0.165208,0.019855,0.112233,-0.056781,0.073388,0.003784
3,clinical_studies_as_topic,0.291569,0.074345,0.169333,0.227125,0.259275,0.240994
4,clinical_trials_as_topic,0.288622,0.072377,0.167927,0.227216,0.248697,0.236189
5,historical_article,0.247405,0.060384,0.153379,0.126590,0.227108,0.172807
6,editorial,0.201997,0.031694,0.134062,0.034825,0.130440,0.078688
7,letter,0.205371,0.032078,0.127497,0.054157,0.113934,0.081044
8,biography,0.233750,0.050527,0.145757,0.063837,0.156918,0.106627
9,news,0.156303,0.025412,0.116096,-0.165166,0.011866,-0.087235
10,published_erratum,0.233988,0.054339,0.134565,0.096003,0.068945,0.081646
11,all,0.261886,0.062346,0.160619,0.201620,0.202166,0.199824

In [3]:
df_merged = pd.merge(df_rouge, df1_counts, left_on='labels', right_on='name', how='left')
df_merged

,labels,rouge-1,rouge-2,rouge-L,bert-P,bert-R,bert-F1,name,label % in summarization data
0,case_reports,0.225812,0.053250,0.146505,0.123670,0.163165,0.139183,case_reports,40.690539
1,review,0.289952,0.069907,0.173700,0.253205,0.244593,0.247277,review,19.117900
2,comment,0.165208,0.019855,0.112233,-0.056781,0.073388,0.003784,comment,1.009425
3,clinical_studies_as_topic,0.291569,0.074345,0.169333,0.227125,0.259275,0.240994,clinical_studies_as_topic,0.948248
4,clinical_trials_as_topic,0.288622,0.072377,0.167927,0.227216,0.248697,0.236189,clinical_trials_as_topic,0.917659
5,historical_article,0.247405,0.060384,0.153379,0.126590,0.227108,0.172807,historical_article,0.718833
6,editorial,0.201997,0.031694,0.134062,0.034825,0.130440,0.078688,editorial,0.409123
7,letter,0.205371,0.032078,0.127497,0.054157,0.113934,0.081044,letter,0.263827
8,biography,0.233750,0.050527,0.145757,0.063837,0.156918,0.106627,biography,0.206473
9,news,0.156303,0.025412,0.116096,-0.165166,0.011866,-0.087235,news,0.015294
10,published_erratum,0.233988,0.054339,0.134565,0.096003,0.068945,0.081646,published_erratum,0.003824
11,all,0.261886,0.062346,0.160619,0.201620,0.202166,0.199824,NaN,NaN

In [4]:
df_merged = pd.merge(df_merged, df2_counts, left_on='labels', right_on='name', how='left')
df_merged

,labels,rouge-1,rouge-2,rouge-L,bert-P,bert-R,bert-F1,name_x,label % in summarization data,name_y,label % w/out abstracts
0,case_reports,0.225812,0.053250,0.146505,0.123670,0.163165,0.139183,case_reports,40.690539,case_reports,11.763859
1,review,0.289952,0.069907,0.173700,0.253205,0.244593,0.247277,review,19.117900,review,6.429426
2,comment,0.165208,0.019855,0.112233,-0.056781,0.073388,0.003784,comment,1.009425,comment,14.396813
3,clinical_studies_as_topic,0.291569,0.074345,0.169333,0.227125,0.259275,0.240994,clinical_studies_as_topic,0.948248,clinical_studies_as_topic,1.423212
4,clinical_trials_as_topic,0.288622,0.072377,0.167927,0.227216,0.248697,0.236189,clinical_trials_as_topic,0.917659,clinical_trials_as_topic,1.406255
5,historical_article,0.247405,0.060384,0.153379,0.126590,0.227108,0.172807,historical_article,0.718833,historical_article,2.655254
6,editorial,0.201997,0.031694,0.134062,0.034825,0.130440,0.078688,editorial,0.409123,editorial,19.693848
7,letter,0.205371,0.032078,0.127497,0.054157,0.113934,0.081044,letter,0.263827,letter,20.834137
8,biography,0.233750,0.050527,0.145757,0.063837,0.156918,0.106627,biography,0.206473,biography,1.619726
9,news,0.156303,0.025412,0.116096,-0.165166,0.011866,-0.087235,news,0.015294,news,3.818306
10,published_erratum,0.233988,0.054339,0.134565,0.096003,0.068945,0.081646,published_erratum,0.003824,published_erratum,9.618936
11,all,0.261886,0.062346,0.160619,0.201620,0.202166,0.199824,NaN,NaN,NaN,NaN

In [5]:
df_merged = df_merged.drop(columns=["name_x", 'name_y'])
df_merged

,labels,rouge-1,rouge-2,rouge-L,bert-P,bert-R,bert-F1,label % in summarization data,label % w/out abstracts
0,case_reports,0.225812,0.053250,0.146505,0.123670,0.163165,0.139183,40.690539,11.763859
1,review,0.289952,0.069907,0.173700,0.253205,0.244593,0.247277,19.117900,6.429426
2,comment,0.165208,0.019855,0.112233,-0.056781,0.073388,0.003784,1.009425,14.396813
3,clinical_studies_as_topic,0.291569,0.074345,0.169333,0.227125,0.259275,0.240994,0.948248,1.423212
4,clinical_trials_as_topic,0.288622,0.072377,0.167927,0.227216,0.248697,0.236189,0.917659,1.406255
5,historical_article,0.247405,0.060384,0.153379,0.126590,0.227108,0.172807,0.718833,2.655254
6,editorial,0.201997,0.031694,0.134062,0.034825,0.130440,0.078688,0.409123,19.693848
7,letter,0.205371,0.032078,0.127497,0.054157,0.113934,0.081044,0.263827,20.834137
8,biography,0.233750,0.050527,0.145757,0.063837,0.156918,0.106627,0.206473,1.619726
9,news,0.156303,0.025412,0.116096,-0.165166,0.011866,-0.087235,0.015294,3.818306
10,published_erratum,0.233988,0.054339,0.134565,0.096003,0.068945,0.081646,0.003824,9.618936
11,all,0.261886,0.062346,0.160619,0.201620,0.202166,0.199824,NaN,NaN

patrickvonplaten/led-large-16384-pubmed

includes BERTscore(relevance matrix)

In [6]:
df_merged = df_merged.sort_values(by="label % w/out abstracts", ascending=False).reset_index(drop=True)
df_merged

,labels,rouge-1,rouge-2,rouge-L,bert-P,bert-R,bert-F1,label % in summarization data,label % w/out abstracts
0,letter,0.205371,0.032078,0.127497,0.054157,0.113934,0.081044,0.263827,20.834137
1,editorial,0.201997,0.031694,0.134062,0.034825,0.130440,0.078688,0.409123,19.693848
2,comment,0.165208,0.019855,0.112233,-0.056781,0.073388,0.003784,1.009425,14.396813
3,case_reports,0.225812,0.053250,0.146505,0.123670,0.163165,0.139183,40.690539,11.763859
4,published_erratum,0.233988,0.054339,0.134565,0.096003,0.068945,0.081646,0.003824,9.618936
5,review,0.289952,0.069907,0.173700,0.253205,0.244593,0.247277,19.117900,6.429426
6,news,0.156303,0.025412,0.116096,-0.165166,0.011866,-0.087235,0.015294,3.818306
7,historical_article,0.247405,0.060384,0.153379,0.126590,0.227108,0.172807,0.718833,2.655254
8,biography,0.233750,0.050527,0.145757,0.063837,0.156918,0.106627,0.206473,1.619726
9,clinical_studies_as_topic,0.291569,0.074345,0.169333,0.227125,0.259275,0.240994,0.948248,1.423212
10,clinical_trials_as_topic,0.288622,0.072377,0.167927,0.227216,0.248697,0.236189,0.917659,1.406255
11,all,0.261886,0.062346,0.160619,0.201620,0.202166,0.199824,NaN,NaN